/* About */
.about { display: grid; grid-template-columns: 1.1fr .9fr; gap: 32px; }
.btn-about{ font-size: 15px;font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; display: flex; }
@media (max-width: 900px){ .about { grid-template-columns: 1fr; } }

